/* -- partciles -- */

.left_particles,
.right_particles,
.down_particles {
	position: relative;
	/* default */
	width: 200px;
	height: 200px;
	background: darkblue;
}

/* -- particle -- */

.left_particles > *,
.right_particles > *,
.down_particles > * {
	position: absolute;
	border-radius: 50%;
	background-color: #8EA7CD; /* #6386BB */
	opacity: 0;
	filter: blur(6px);
	font-size: 1px;
}

@keyframes right100 {
	0% { opacity: 0; }
	20%, 80% { opacity: .7; }
	to {
		transform: translate(100px, -200px);
		opacity: 0;
	}
}

@keyframes right30 {
	0% { opacity: 0; }
	20%, 80% { opacity: .7; }
	to {
		transform: translate(30px, -200px);
		opacity: 0;
	}
}

@keyframes left30 {
	0% { opacity: 0; }
	20%, 80% { opacity: .7; }
	to {
		transform: translate(-30px, -200px);
		opacity: 0;
	}
}

@keyframes left100 {
	0% { opacity: 0; }
	20%, 80% { opacity: .7; }
	to {
		transform: translate(-100px, -200px);
		opacity: 0;
	}
}
